html, body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

.selected {
  border: 2px solid #f00;
}

#main_div {
  display: flex; 
  box-sizing: border-box; 
  padding: 5px; 
  width: 100%;
}

#dbs_list {
  width: 200px; 
}

#docs_list {
  width: calc(100% - 200px); 
}
