html, body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

.selected {
  border: 2px solid #f00;
}

#db_name {
  text-align: center;
}

#main_div {
  display: flex; 
  box-sizing: border-box; 
  padding: 5px; 
  width: 100%;
}

#dbs_list {
  width: 200px; 
}

#docs_list {
  width: calc(100% - 200px); 
}

/*
#attachment_preview{
  position: relative;
  padding-bottom: 20.25%;
  height: 0;
  overflow: hidden;
}

#attachment_preview iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100;
}
*/
